$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  padding: 0;
}

/* Custom page header */
.header {
  background-color: #2D597B;
  padding: 10px 0;
  margin-bottom: 10px;
  .title {
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
  }
}

.main-section {
  .navbar {
    background-color: #FFCB00;
    li {
      display: block;
      float: none;
      a {
        font-size: 18px;
        color: #433600;
      }
    }
  }
}

.city-selector {
  padding: 10px;
  text-align: center;
  label, button, .button {
    float: right;
    clear: both;
    width: auto;
  }
  select, input {
    width: 200px;
  }
  button, select, input {
    margin: 5px;
  }
}

.activities-list {
  overflow-y: scroll;
  ul {
    padding: 0;
    li {
      border-bottom: 1px solid #CCC;
      cursor: default;
      list-style-type: none;
      user-select: none;
    }
  }
  .selected {
    color: #FFF;
    background: #3A83C2;
  }
}

.details-area {
  padding: 10px;
  overflow-y: scroll;
  .no-item {
    color: #F80000;
  }
}

.details-area, .activities-list {
  height: 500px;
  border: 1px solid #CCC;
  margin: 10px 0;
}

.destinations-table {
  margin-top: 20px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}
